.categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 25px;
    gap: 20px
}


.link-style {
    text-decoration: none;
    /* Elimina el subrayado */
    color: inherit;
    /* Hereda el color del texto del padre */
    /* Agrega estilos adicionales según tus preferencias */
}